
<div class ="card-body">
  <h3> Options  - {{this.game.userName}}</h3>
  <br/>
  <label> Entrez votre nom : 
    <input [(ngModel)]="userName"/> 
    <button class="btn btn-primary semi-btn" (click)="changeUserName()"> OK </button>
  </label>

  <br/>
  <br/>

  <h4> Taille du plateau : {{this.gridSize}} </h4>
  <button class="btn btn-primary semi-btn" (click)="smallerGridSize()"> - </button>
  <button class="btn btn-primary semi-btn" (click)="biggerGridSize()"> + </button>

  <br/>
  <br/>

  <h4> Joueurs noirs : {{getIaPlayer(false)}} </h4>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(false, 'none')"> Vrai joueur </button>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(false, 'random')"> IA facile </button>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(false, 'minMax')"> IA moyenne </button>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(false, 'minMaxImproved')"> IA difficile </button>

  <h4> Joueurs blancs : {{getIaPlayer(true)}} </h4>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(true, 'none')"> Vrai joueur </button>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(true, 'random')"> IA facile </button>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(true, 'minMax')"> IA moyenne </button>
  <button class="btn btn-primary semi-btn" (click)="changeIaPlayer(true, 'minMaxImproved')"> IA difficile </button>

  <br/>
  <br/>

  <h4> Délai d'animation pour l'IA : {{this.animationDelay}} ms </h4>
  <button class="btn btn-primary semi-btn" (click)="shorterAnimationDelay()"> - </button>
  <button class="btn btn-primary semi-btn" (click)="longerAnimationDelay()"> + </button>

  <br/>
  <br/>
  <br/>

  <button class="btn btn-success semi-btn" (click)="makeChanges()"> Enregistrer </button>
  <button class="btn btn-success semi-btn" routerLink="/menu"> Menu </button>

</div>  

