<div class = "card-body">
  
  <br/>

  <h3>
    C'est au tour des {{whiteTurn ? 'blancs' : 'noirs'}}
  </h3>
  <br/>

  <table>
    <tbody>
      <tr class="row" *ngFor="let row of size">
        <td class="square" *ngFor="let col of size">
          <div class="pawn" *ngIf="hasPawn(row, col)" [ngStyle]="getColor(row, col)" (click)="onClickPawn(row, col)"></div>
          <div class="pawn possiblePawn" *ngIf="isPossibleMoves(row, col)" (click)="move(row,col)"></div>
        </td>
      </tr>
    </tbody>
  </table>

  <br/>
  <br/>

  <button class="btn btn-success semi-btn" routerLink="/menu"> Menu </button>
</div>