/* div {
    background: no-repeat url("../../assets/img/board-game.jpg");
    width: auto;
    height: auto;
} */

table {
    margin: auto;
}

.square {
    width: 5vw;
    height: 5vw;
    background: rgba(163, 40, 40, 0.61);
}

.pawn {
    width: 5vw;
    height: 5vw;
    background: white;
    border-radius: 50%;
}