<div class="card-body">
  <h2>Crédits</h2>

  <br/>
  <p>Ce projet à été fait dans le cadre du cours d'intelligence artificielle de l'ESIR.</p>
  <p>Code source du programme : <a href="https://github.com/PapaTimot/gyt-lines">https://github.com/PapaTimot/gyt-lines</a></p>
  
  <br/>
  <br/>
  <h4> Elèves ingénieurs ayant participés au projet :</h4>
  <br/>
  <ul>
    <li>Gwendal Jouneaux</li>
    <li>Timothée Schneider-Maunoury</li>
    <li>Yoann Breton</li>
  </ul>

  <br/>
  <button class="btn btn-success semi-btn" routerLink="/menu"> Menu </button>
</div>
