<div class="card-body">
  <h2>Règles</h2>

  <br/>
  <h3>Mise en place</h3>
  <p>Lines of Action est un jeu de plateau carré. Chaque joueur contrôle des dames qui sont placées au départ comme sur le schéma ci-dessous :</p>
  <img class="plate" src="https://upload.wikimedia.org/wikipedia/commons/4/45/Lines_of_Action_base.svg" alt="Plateau de Lines of Action">
  
  <br/>
  <br/>
  <h3>But du jeu</h3>
  <p>Le but du jeu pour chacun des joueurs est de parvenir à connecter ensemble toutes ses pièces. Les connexions peuvent se faire dans les 8 directions : les 2 horizontales, les 2 verticales et les 4 diagonales</p>
  
  <br/>
  <h3>Règles de déplacement et de capture</h3>
  <ul>
    <li>Les joueurs jouent à tour de rôle. C'est Noir qui commence.</li>
    <li>Les dames peuvent se déplacer horizontalement, verticalement ou en diagonale.</li>
    <li>Une dame se déplace d'exactement autant de cases qu'il y a de dames - amie ou adverse - sur la ligne où elle se déplace.</li>
    <li>Une dame peut passer au-dessus d'une dame de son camp, mais pas au-dessus d'une dame adverse.</li>
    <li>Une dame peut terminer son mouvement sur une case occupée par une dame adverse, celle-ci est alors capturée et retirée du jeu.</li>
  </ul>
  
  <br/>
  <h3>Fin de partie</h3>
  <p>La partie est finie lorsqu'un des deux joueurs à réussi à rassembler toutes ses pièces. Exemple :</p>
  <img class="plate" src="https://upload.wikimedia.org/wikipedia/commons/8/80/Lines_of_Action_winning.svg?uselang=fr" alt="Exemple de fin de partie (victoire des blancs)">

  <div>
    <button class="btn btn-success semi-btn" routerLink="/menu"> Menu </button>
  </div>
  
</div>
